<% if logged_in? %>
  <div class="container-fluid">
      <div class="col-md-2" style="border: 2px solid black">
        <p> User list</p>
        <% User.all.each do |user| %>
          <a href="/user/<%=user.id%>"><%=user.user_name%></a> <br></br>
        <% end %>
      </div>
      <div class="col-md-6 ">
        <div class="centerBlock">
          <form class="navbar-form navbar-left" role="search" method="post" action="/tweet/create">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Shout out something..." name="shout[tweet]" maxlength="140">
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-bullhorn buttons" aria-hidden="true"></span>
              Shout out!
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <a href="/user/<%= get_current_user.id%>">My Profile</a>
          <form method="post" action="user/sign_out">
              <input type=submit value="Sign-out!">
          </form>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <a id="sign_up" href="/user/new">Sign up!</a> <br></br>
  <a href="/user/sign_in">Sign in!</a> <br></br>
<% end %>
