<h2>Please enter to sign up!</h2>
<form method="post" action="/user/create">
    <input type=text placeholder="First name" name="user[first_name]" ><br>
    <input type=text placeholder="Last name" name="user[last_name]" ><br>
    <input type=text placeholder="Username" name="user[user_name]"><br>
    <input type=text placeholder="Email" name="user[email]" required><br>
    <input type=password placeholder="Password" name="user[password_digest]" required></br>
    <input type=submit value="Sign up"></form>
