<h2> Please enter your e-mail and password for sign-in</h2>
<form method="post" action="/user/sign_in">
    <input type=text placeholder="Email" name="user[email]" required><br>
    <input type=password placeholder="Password" name="user[password]" required></br>
    <input type=submit value="Sign up"></form>
